<div class="jumbotron">
  <h1 class="display-6">User Details</h1>
  <hr class="my-4">
  <div class="container">
    <div class="row">
        <p class="lead"> 
          <b>Email:</b> <%= @user.email %><br>
        </p>
        <p class="lead"> 
          <b>Role:</b> <%= @user.role %><br>
        </p>
      </div>
    </div>
  </div>
  <%= link_to 'Back', root_path, class:"btn btn-dark" %> 
  <% if current_user.try(:admin?) %>
    <%= link_to 'Delete', manage_user_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-dark" %>
  <% end %>
</div>
